.no-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  text-align: center;
}

.error-code {
  /* font-size: 10rem; */
  margin: 0;
  color: #20648a;
}

.no-page-container h1 {
  font-size: 200px;
}

.no-page-container p {
  font-size: 60px;
}

.error-message {
  margin: 0;
  color: #6c757d;
}

.home-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #20648a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: larger;
}

.home-link:hover {
  background-color: #0056b3;
}
